<div class="modal-dialog modal_all">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Change Password</h5>
      <button type="button" (click)="onCancel()" class="btn-close"><i class="fas fa-times"></i></button>
    </div>
    <div>
      <form [formGroup]="changePasswordForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group mb-3 pass_field">
                <label>Current Password <span class="requireds"></span></label>
                <div class="input-group">
                  <input [type]="isCurrentPassword?'text':'password'" class="form-control" autocomplete="new-password"
                    placeholder="Enter current password" formControlName="currentPassword" oncopy="return false"
                    onpaste="return false" (keydown.space)="$event.preventDefault()">
                  <div class="input-group-addon">
                    <i *ngIf="isCurrentPassword==false" class="fas fa-eye-slash " aria-hidden="true"
                      (click)="isCurrentPassword= true"></i>
                    <i *ngIf="isCurrentPassword==true" class="fas fa-eye" aria-hidden="true"
                      (click)="isCurrentPassword= false"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group mb-3 pass_field">
                <label>New Password <span class="requireds"></span></label>
                <div class="input-group">
                  <input appRegexhtml [value]="'password'" [type]="isNewPassword?'text':'password'" class="form-control"
                    autocomplete="new-password" placeholder="Enter new password" formControlName="newPassword"
                    onpaste="return false" oncopy="return false" (keydown.space)="$event.preventDefault();">
                  <div class="input-group-addon">
                    <i *ngIf="isNewPassword==false" class="fas fa-eye-slash" aria-hidden="true"
                      (click)="isNewPassword=true"></i>
                    <i *ngIf="isNewPassword==true" class="fas fa-eye" aria-hidden="false"
                      (click)="isNewPassword=false"></i>
                  </div>
                  <span class="text-danger mat-error"
                    *ngIf="(changePasswordForm.controls['newPassword'].touched)&& changePasswordForm.controls['newPassword'].invalid">
                    <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">New Password is
                      required.</div>

                  </span>

                </div>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group mb-1 pass_field">
                <label>Confirm Password <span class="requireds"></span></label>
                <div class="input-group">
                  <input [type]="isConfirmPassword?'text':'password'" class="form-control" autocomplete="new-password"
                    placeholder="Enter confirm password" formControlName="confirmPassword"
                    (keydown.space)="$event.preventDefault();" onpaste="return false" oncopy="return false">


                  <div class="input-group-addon">
                    <i *ngIf="isConfirmPassword==false" class="fas fa-eye-slash " aria-hidden="true"
                      (click)="isConfirmPassword= true"></i>
                    <i *ngIf="isConfirmPassword==true" class="fas fa-eye" aria-hidden="true"
                      (click)="isConfirmPassword= false"></i>
                  </div>
                  <span class="text-danger mat-error"
                    *ngIf="(changePasswordForm.controls['confirmPassword'].touched)&& changePasswordForm.controls['confirmPassword'].invalid">
                    <div *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['required']">Confirm Password is
                      required.</div>
                    <div *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['mustMatch']"> New Passsword and
                      Confirm Password didn't match. </div>
                  </span>

                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <ul class="password-hint">
                <!-- {{passwordObj}} -->
                <li [ngClass]="{'blue':passwordObj.specialCharacter}" class="orange">At least 1 special
                  character(!@#$%^&*?)
                </li>
                <li [ngClass]="{'blue':passwordObj.minimunSeven}" class="orange">
                  At least 8 and maximum 30 characters
                </li>
                <li [ngClass]="{'blue':passwordObj.oneNumber}" class="orange">
                  At least min of 1 number.</li>
                <li [ngClass]="{'blue':passwordObj.upperCase}" class="orange">
                  At least 1 uppercase letter
                </li>
                <li [ngClass]="{'blue':passwordObj.lowerCase}" class="orange">
                  At least 1 lowercase letter</li>
              </ul>

            </div>

            <div class="col-sm-12 text-center mt-sm-3">
              <button tabindex="16" class="btn btn-success btn-submit" (click)="updatePassword()"
                [disabled]="this.changePasswordForm.invalid">
                Update
              </button>
              <button class=" btn btn-primary btn-reset mx-sm-2 mt-2 mt-sm-0" (click)="resetPassword()"
                [disabled]="this.changePasswordForm.invalid">
                Reset
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>