<div class="main-content">
    <div class="container-fluid">
        <div class="pagenot-found">
            <div class="center-sec">
                <img src="../../assets/images/404-img.svg" class="w-100">
                <h4>Error 404</h4>
                <p>We don't know how you got here. We just know you're not supposed to be here.</p>
                <div class="d-flex justify-content-center">
                    <!-- <button class="btn go_back"><i class="fas fa-arrow-left"></i> Go to Login </button> -->
                    <button class="btn go_login" routerLink="/MIS/dashboard">Go to Dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>