.custm_downlod {
    display: flex;
    align-items: center;
}

.custm_downlod input[type=checkbox] {
    margin-right: 6px;
}

ul#pills-tab {
    text-align: center;
}

#pills-tab button {
    background-color: rgba(0, 0, 0, 0.0509803922);
    color: #696f7f;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 14px;
    margin-right: 14px;
    width: 132px;
}

#pills-tab button.active {
    background: transparent linear-gradient(180deg, #4B6CB7 0%, #182848 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}

.btntext {
    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--blue);
}

.btntext:hover,
.btntext:focus {
    box-shadow: none;
    border: none;
    color: var(--blue);
}