.report_crt_dropdwon ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

::ng-deep.mat-autocomplete-panel .mat-tree-node {
    min-height: 28px;
    font-family: 'Poppins-Medium';
}

.radio_cutom_mat ::ng-deep.mat-radio-container {
    width: 16px;
    height: 16px;
}

.radio_cutom_mat ::ng-deep.mat-radio-outer-circle {
    width: 16px;
    height: 16px;
}

.mat-radio-button.mat-accent ::ng-deep.mat-radio-inner-circle {
    background-color: #4b6cb7 !important;
    width: 16px;
    height: 16px;
}

::ng-deep.mat-autocomplete-panel button.mat-icon-button {
    height: 22px;
    line-height: 0.1;
}

.report_crt_dropdwon ::ng-deep.mat-form-field-infix {
    padding: 0px;
    margin: 0px;
    border: none;
}

::ng-deep.mat-autocomplete-panel::-webkit-scrollbar {
    width: 5px;
    padding: 2px;
    height: 7px;
}

/* Track */
::ng-deep.mat-autocomplete-panel::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::ng-deep.mat-autocomplete-panel::-webkit-scrollbar-thumb {
    background: #4b6cb7;
}

/* Handle on hover */
::ng-deep.mat-autocomplete-panel::-webkit-scrollbar-thumb:hover {
    background: #4b6cb7;
}

.report_crt_dropdwon .example-full-width ::ng-deep.mat-form-field-infix {
    padding: 0 22px 0px 0px !important;
    border: none !important;
}

.query_textarea textarea.form-control {
    min-height: 100px;
}

.report_crt_dropdwon .form-control {
    border: 1px solid #ced4da;
    padding: 0px 10px !important;
    margin-top: 0px !important;
    background-color: #FFF !important;
    caret-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center right 13px;
    cursor: pointer;
}

.report_crt_dropdwon ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
    display: none !important;
}

.report_crt_dropdwon ::ng-deep.mat-form-field-infix .mat-form-field-label {
    padding: 10px;
    transform: none;
}

.mat-option.mat-option-disabled {
    display: none;
}

.report_crt_dropdwon .mat-tree {
    padding: 8px 0px;
}

.mat-tree-node,
.mat-nested-tree-node {
    color: #4f4a3f;
}

.mat-radio-button.mat-accent.mat-radio-checked ::ng-deep.mat-radio-outer-circle {
    border-color: #4b6cb7 !important;
}

.reportcreatn_checkbox label {
    font-size: 12px;
    margin-left: 6px;
    display: block;
}

.reportcreatn_checkbox {
    align-items: center;
    text-align: center;
    justify-content: start;
    margin-top: 10px;
}

.reportcreatn_checkbox .chekbox_div {
    display: flex;
    align-items: center;
    direction: rtl;
}

.reportcreatn_checkbox .chekbox_div:nth-child(1) {
    margin-right: 25px;
}

.reportcreatn_checkbox .chekbox_div label {
    font-family: "Poppins-Regular";
    margin-bottom: 0px;
    font-size: 14px;
}

.reportcreatn_checkbox input[type='checkbox'] {
    text-align: center;
    height: auto;
    cursor: pointer;
}

.report_cret_table {
    max-height: 150px;
    margin-bottom: 15px;
}

.report_cret_table table {
    margin-bottom: 0px;
}

.report_cret_table table tbody tr td button {
    border: none;
    padding: 0px;
    line-height: 1.4;
}

.report_cret_table table thead tr th:last-child {
    text-align: center;
}

.report_cret_table table tbody tr td:last-child {
    text-align: center;
}

.report_cret_table table tbody tr td button i {
    color: var(--red);
}

.report_filter_field .form-group:nth-child(1) {
    width: 40%;
    padding-right: 10px;
}

.report_filter_field .form-group:nth-child(2) {
    width: 40%;
    padding-left: 5px;
    padding-right: 5px;
}

.report_filter_field .form-group:nth-child(3) {
    width: 20%;
    padding-left: 10px;
}

.report_filter_field .form-group:nth-child(3) button {
    padding: 6px 10px;
    border: 1px solid var(--blue2);
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0px;
    box-shadow: 0 12px 24px #0000000d;
    width: 100%;
    background-color: #182848;
}

.report_filter_field .form-group:nth-child(3) button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/*************/
.query_radio .label_first {
    margin-bottom: 8px;
}

.query_radio .mat-radio-disabled {
    opacity: 0.5;
}

.query_radio ::ng-deep.mat-radio-button label {
    display: flex !important;
    align-items: center;
    margin-right: 18px;
}

.query_radio .mat-radio-button.mat-accent ::ng-deep.mat-radio-inner-circle {
    background-color: #4b6cb7 !important;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
}

.query_radio ::ng-deep.mat-radio-button label span.mat-radio-label-content {
    padding-left: 5px;
    font-size: 14px;
}

.error_rpot {
    color: var(--red);
    font-size: .7rem;
    margin-bottom: 2px;
    position: relative;
    padding-left: 12px;
    word-break: break-all;
}

.error_rpot:before {
    content: "";
    border: 3px solid var(--red);
    border-radius: 50px;
    margin-right: 0px;
    height: 4px;
    width: 4px;
    background-color: var(--red);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}