<!--
* Project Name: MIS.
* Date: 12/05/2023
* CreatedBy: Ankush
* Contact: Echelon Edge MIS Development Team.
* Copyright: Echelon Edge Pvt. Ltd.
* Purpose: Reset Password Dialog box -->

<div class="modal-dialog modal_all">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Reset Password</h5>
            <button type="button" class="btn-close" (click)="closePopUp()"><i class="fas fa-times"></i></button>
        </div>

        <div class="modal-body">
            <p class="text-center py-4">Do you want to reset password of the user ?</p>
            <div class="text-center mt-3">
                <button class="btn btn-success btn-submit" (click)="onSubmit()"> Confirm </button>
                <button class="btn btn-primary btn-reset ms-sm-2 mt-2 mt-sm-0" type="button" (click)="closePopUp()">
                    Cancel </button>
            </div>

        </div>

    </div>
</div>