<div class="modal-dialog modal_all monitoring_permissiondialog_page">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">{{data.title}}</h5>

            <!-- <button title="Close" type="button" class="btn-close">
                <i class="fas fa-times"></i>
            </button> -->
            <div class="log_actn">
                <h6 class="logaction"><span
                        [ngClass]="data.logAction=='Update'? 'badge bg-success': data.logAction=='Insert' ? 'badge bg-primary':'badge bg-danger'">{{data.logAction}}</span>
                </h6>
                <button type="button" class="btn-close" (click)="dialogClose()"><i class="fas fa-times"></i></button>
            </div>

        </div>

        <!-- <div class="modal-body">

            <div class="monitoring-dialog">
                <div class="table-responsive">
                    <table class="w-100 table mb-0 border">
                        <thead>
                            <tr>
                                <th>Change Value</th>
                                <th>Old Value</th>
                                <th>New value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data?.changesData">
                                <th>{{item.changeValue}}:</th>
                                <td>{{item.oldValue}}</td>
                                <td>{{item.newValue}}</td>
                            </tr>
                        </tbody>
                        <tbody class="withoutdata" *ngIf="data?.changesData.length==0">
                            <tr>
                                <td colspan="3" class="text-center">No Data Available</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->


        <div class="modal-body">
            <div class="btn_flex">
                <button type="button" class="btn-pdf" (click)="logPdfDownLoad()"><i class="far fa-file-pdf"></i>
                    Download</button>
                <h4 class="role_name td_capital">Role Name<span>{{this.data.headerName}}</span></h4>
            </div>
            <div class="border_box_shadow" id="contentToConvert">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Action By</th>
                                <th>Action Date</th>
                                <th>Delete Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{data.action_by}}</td>
                                <td>{{data.action_date}}</td>
                                <td title="{{data.del_reason}}">{{data.del_reason ==null || data.del_reason =='' ?  'NA'  : data.del_reason?.length>18? (data.del_reason |
                                    slice:0:25)+'...':data.del_reason }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="accordion" id="accordionExample">

                    <div class="accordion-item" *ngFor="let module of this.data?.moduleName;let i= index">
                        <h2>
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse' + i" aria-expanded="true"
                                [attr.aria-controls]="'collapse' + i">
                                {{module}}
                            </button>
                        </h2>
                        <div [id]="'collapse' + i" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="w-100 table mb-0 border">
                                        <thead>
                                            <tr>
                                                <th>Change Value</th>
                                                <th>Old Value</th>
                                                <th>New value</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let item of data?.changesData">
                                            <tr *ngIf="item?.moduleName==module">
                                                <th>{{item.changeValue}}:</th>
                                                <td>{{item.oldValue}}</td>
                                                <td>{{item.newValue}}</td>
                                            </tr>
                                        </tbody>
                                        <tbody class="withoutdata" *ngIf="data?.changesData.length==0">
                                            <tr>
                                                <td colspan="3" class="text-center">No Data Available</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-------Type Base Permission----->

        <!---------code here-->


    </div>

    <!-------Type Base Permission END----->
</div>