.modal_all .modal-body {
    height: auto !important;
    max-height: auto !important;
}

::ng-deep .ng-select .ng-clear-wrapper .ng-clear {
    font-size: 20px !important;
}

::ng-deep .ng-select .ng-clear-wrapper {
    top: 0px !important;
    width: 14px !important;
    height: 18px
}

::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
    top: 1px !important;
}

::ng-deep.ng-select .ng-placeholder {
    padding-top: 0px !important;
    font-family: "Poppins-Regular" !important;
}

.common-modal .modal-body ::ng-deep .ng-select {
    padding-left: 0px;
}

.schedule_box .fa-rotate-left {
    color: var(--green-icon);
}

/************Select Report Name******************/
.typ_schudle_slect {
    width: 100%;
}

.typ_schudle_slect ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.typ_schudle_slect ::ng-deep.mat-form-field-wrapper .mat-form-field-infix {
    margin: 0px;
    padding: 0px !important;
    border: none;
}

.typ_schudle_slect ::ng-deep.mat-form-field-wrapper .mat-form-field-underline {
    display: none !important;
}

.typ_schudle_slect ::ng-deep.mat-form-field-wrapper .mat-select-arrow-wrapper {
    display: none;
}

.typ_schudle_slect mat-select {
    border-radius: 8px;
    padding: 6px 8px 6px 12px;
    height: 34px;
    font-size: .8rem;
    color: #696f7f;
}

::ng-deep.mat-form-field-type-mat-select.typ_schudle_slect .mat-form-field-label {
    padding: 8px 12px !important;
    font-size: 0.8rem !important;
}

::ng-deep.typ_schudle_slect.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none;
}

::ng-deep.typ_schudle_slect_pnl .form-control {
    margin: 4px;
    font-size: .8rem;
    color: #696f7f;
    border-radius: 8px;
    width: calc(100% - 8px);
    position: sticky;
    top: 8px;
    z-index: 1;
}

::ng-deep.typ_schudle_slect_pnl .form-control:focus {
    box-shadow: none;
}

/**************************************/
.scheduld_email {
    width: 100%;
}

.scheduld_email ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.scheduld_email ::ng-deep.mat-form-field-wrapper .mat-form-field-infix {
    margin: 0px;
    padding: 0px !important;
    border: none;
}

.scheduld_email ::ng-deep.mat-form-field-wrapper .mat-form-field-underline {
    display: none !important;
}

.scheduld_email ::ng-deep.mat-form-field-wrapper .mat-select-arrow-wrapper {
    display: none;
}

.scheduld_email mat-chip-list {
    border: 1px solid #DADEE1;
    border-radius: 8px;
    padding: 6px 8px 6px 12px;
    font-size: .8rem;
    color: #696f7f;
    width: 100%;
    display: flex;
    min-height: 35px;
}

.scheduld_email .typ_email_chip_pnl {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
    min-height: 23px;
}

.scheduld_email ::ng-deep.mat-form-field-label-wrapper label {
    padding: 8px 10px;
}

.scheduld_email.mat-focused ::ng-deep.mat-form-field-label-wrapper label {
    display: none;
}

.schdulemail_checkbox.mat-checkbox-checked ::ng-deep.mat-checkbox-background {
    background-color: var(--blue);
}

.create_schedulerpage.modal_all .mat-error {
    font-size: .6rem;
    position: relative;
    left: 2px;
    width: auto;
    color: var(--red);
    bottom: 0;
}

::ng-deep.mat-chip-list.ng-invalid .typ_email_chip_pnl {
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, .87);
}

.scheduld_email.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float ::ng-deep.mat-form-field-label {
    display: none;
}

.create_schedulerpage .ng_cutomselect.ng-select-multiple ::ng-deep.ng-select-container .ng-value-container .ng-placeholder {
    top: 8px;
}

.enter_email_chip {
    min-width: 300px;
}