<!-- Wrapper -->
<div class="wrapper">
  <div class="login-page forgotpGE">
    <!-- Container -->
    <div class="container login_contain">
      <div class="login-inner">
        <div class="row column-reverse">
          <div class="col-md-5">
          </div>
          <div class="col-md-7">
            <div class="logo-sec">
              <img src="../../../../assets/images/logo.png" width="125" alt="Logo">
            </div>
          </div>

        </div>
        <div class="row custm_height align-items-center">
          <!-- Col-lg-5 -->
          <div class="col-lg-5 p_relative">

            <div class="login-form">
              <div class="usersec">
                <h1 class="m-0">Forgot Password?</h1>
                <p>No worries. We'll send you reset instructions.</p>
              </div>
              <form [formGroup]="forgotPswdForm">
                <!-- email -->
                <div class="form-group p_relative">
                  <label>Email</label>
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your Email"
                      formControlName="user_email">

                    <div class="input-group-addon">
                      <!-- <i class="fas fa-times-circle"></i> -->

                      <i arial-hidden="true"
                        [ngClass]="!this.forgotPswdContoller['user_email'].valid?'fas fa-times-circle':'fas fa-check-circle'"></i>
                    </div>
                  </div>
                  <span class="text-danger mat-error"
                    *ngIf="(forgotPswdContoller['user_email'].touched || forgotPswdContoller['user_email'].dirty) && forgotPswdContoller['user_email'].invalid">
                    <div *ngIf="forgotPswdContoller['user_email'].errors?.['required']">Email is required.
                    </div>
                    <div *ngIf="forgotPswdContoller['user_email'].errors?.['pattern']"> Please enter only
                      &#64;echelonedge.com email address
                    </div>
                  </span>
                </div>

                <!-- email -->
                <div class="d-flex form-btnsec align-items-center justify-content-between mt-4">
                  <button type="submit" class="btn btn-submit" [disabled]="!forgotPswdForm.valid"
                    (click)="onSubmit()">Submit</button>
                  <button class="forgot-link" routerLink='/login'>Back to log in</button>
                </div>
                <div class="powerby d-flex align-items-center justify-content-center">
                  <p>Powered By</p>
                  <img src="../../../../assets/images/echelon-logo.png" width="120">
                </div>
              </form>
            </div>

            <div class="copyright text-end">
              <p class="mb-0">2024 All Rights Reserved | Privacy | Terms of Service</p>
            </div>
          </div>
          <!-- /.Col-lg-5 -->

          <!-- Col-lg-7 -->
          <div class="col-lg-7">
            <div class="login-banner text-end">
              <img src="../../../../assets/images/forgot-img.png" alt="forgot-img">
            </div>
          </div>
          <!-- /.Col-lg-7 -->

        </div>
        <!-- /.Row -->
      </div>

    </div>
    <!-- /.Container -->

  </div>
</div>
<!-- /.Wrapper -->